<mat-card class="product-add-card">
    <mat-card-header>
        <mat-card-title>
            Add Product Form
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form id="product-add-card">   
            <mat-form-field>
                <input matInput placeholder="Product Name">
            </mat-form-field>
                
            <mat-form-field>
                <textarea matInput placeholder="Product Description"></textarea>
            </mat-form-field>
                
            <mat-form-field>
                <input matInput placeholder="Product Price">
            </mat-form-field>
        </form>    
    </mat-card-content>

</mat-card>
